<div class="panel-header panel-header-sm">
</div>
<div class="main-content" style="text-align: center;">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Регистрация</h5>
        </div>
        <div class="card-body">
          <form >
            <div class="row justify-content-center align-items-center">
              <div class="col-md-10">
                <div class="form-group">
                  <label for="email">Введите еmail</label>
                  <input name="email" id="email" type="email" #mail="ngModel" [(ngModel)]="email" class="form-control" placeholder="admin@mail.ru" email>
                  <div class="row justify-content-center align-items-center" [hidden]="mail.valid || mail.pristine">
                    <div class="col-md-10">
                      <font size="3" color="red">Email введен некорректно!</font>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center">
              <div class="col-md-10">
                <div class="form-group">
                  <label for="name">Введите ФИО</label>
                  <input  name="name" id="name" type="text" [(ngModel)]="name" class="form-control" placeholder="Иванов Иван Иванович" maxlength="80">
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center">
              <div class="col-md-10">
                <div class="form-group">
                  <label for="phone">Введите телефон</label>
                  <input name="phone" id="phone" type="text" #phone1="ngModel" [(ngModel)]="phone" class="form-control" placeholder="89004508677" pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$">
                  <div class="row justify-content-center align-items-center" [hidden]="phone1.valid || phone1.pristine">
                    <div class="col-md-10">
                      <font size="3" color="red">Неверный формат номера!</font>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center">
              <div class="col-md-10">
                <div class="form-group">
                  <label>Введите пароль</label>
                  <input type="password" name="password" #pass="ngModel" [(ngModel)]="password" class="form-control" placeholder="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                  <div class="row justify-content-center align-items-center" [hidden]="pass.valid || pass.pristine">
                    <div class="col-md-10">
                      <font size="3" color="red">Недостаточная сложность пароля!</font>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center">
              <div class="col-md-10">
                <div class="form-group">
                  <label>Повторите пароль</label>
                  <input type="password" name="repeatPassword" [(ngModel)]="repeatPassword" class="form-control" placeholder="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center" *ngIf=" password != repeatPassword && repeatPassword != null">
              <div class="col-md-10">
                <font size="3" color="red">Введеные пароли не совпадают</font>
              </div>
            </div>
            <div class="row justify-content-center align-items-center" *ngIf=" password != repeatPassword || password == null || email == null || name == null || phone == null">
              <div class="col-md-12">
                <div class="button-container justify-content-center align-items-center">
                  <button (click)="registration(email, password, name, phone)" class="btn btn-neutral btn-lg" disabled>
                    Зарегистрироваться
                  </button>
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center" *ngIf=" password == repeatPassword && password != null && email != null && name != null && phone != null">
              <div class="col-md-12">
                <div class="button-container justify-content-center align-items-center">
                  <button (click)="registration(email, password, name, phone)" class="btn btn-neutral btn-lg">
                    Зарегистрироваться
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
