<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12" style="padding-bottom:20px;">
      <div class="card"style="height:100%;">
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
              <tr *ngFor="let res of reservations">
                <td style="padding-bottom: inherit">
                  <h5 class="text-primary">{{res.service.name}}</h5>
                  <p>Организация: {{res.service.organization.name}}</p>
                  <p>Заказчик: {{res.user.name}}</p>
                  <p>Статус: {{res.status}} </p>
                  <p>Дата: {{res.dateTime}}</p>
                  <p>Цена: {{res.service.price}} р.</p>                  
                  <div *ngIf="res.status == 'Выполнено' && (res.rating > 0 || res.comment != null)">
                    <span>Оценка: </span><app-rating  currentRate={{res.rating}} readFlag="true"></app-rating><br>
                    <span>Отзыв: {{res.comment}}</span>
                  </div>
                </td>
				<td style="padding-bottom: inherit" class="td-actions text-right text-top" *ngIf="res.status == 'Одобрено' || res.status == 'В ожидании'">
					<div class="nav-item" ngbDropdown>
            <div class="btn btn-neutral" style="padding: 0px; font-size: 20px; ">
					  <a class="nav-link" id="dropdownBasic" ngbDropdownToggle>
						<i class="now-ui-icons ui-1_settings-gear-63"></i>
						<p>
						  <span class="d-lg-none d-md-block">Действия</span>
						</p>
					  </a>
            </div>
					  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic2">
						<a *ngIf="res.status == 'В ожидании'" class="dropdown-item" style="color: blue;" (click)="assept(res.id, res.dateTime)">
							<i class="now-ui-icons ui-1_check"></i>
							<p>
							  <span style="color: blue;">Одобрить</span>
							</p>
						</a>
						<a *ngIf="res.status == 'В ожидании'" class="dropdown-item" style="color: red;" (click)="deny(res.id)">
							<i class="now-ui-icons ui-1_simple-remove"></i>
							<p>
							  <span style="color: red;">Отказать</span>
							</p>
						</a>
						<a *ngIf="res.status == 'Одобрено'" class="dropdown-item" style="color: green;" (click)="finish(res.id)">
							<i class="now-ui-icons ui-1_check"></i>
							<p>
							  <span style="color: green;">Выполнено</span>
							</p>
						</a>
					  </div>
					</div>
			
			
                  <!--<button type="button" rel="tooltip" title="Одобрить" (click)="assept(res.id, res.dateTime)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                    <i class="now-ui-icons ui-1_check" inline="true"></i>
                  </button>
                  <button type="button" rel="tooltip" title="Отказать" (click)="deny(res.id)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
				  <button type="button" style="color:green;" rel="tooltip" title="Выполнено" (click)="finish()" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                    <i class="now-ui-icons ui-1_check" inline="true"></i>
                  </button>-->
                </td>
              </tr>
              </tbody>
            </table>
            <div class="row">
              <button type="button" rel="tooltip" title="На предыдущую" (click)="changePage(-1)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
      <i class="now-ui-icons arrows-1_minimal-left"></i>
    </button>
    <div class="form-check btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" *ngFor="let index of createRange(pagesCount)">
      <input *ngIf="index - 1 == selectedPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'orgPage')" style="border-color:#fd7e14">
      <input *ngIf="index - 1 != selectedPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'orgPage')">
    </div>
    <button type="button" rel="tooltip" title="На следующую" (click)="changePage(1)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
      <i class="now-ui-icons arrows-1_minimal-right"></i>
    </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
