<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12" style="padding-bottom:20px;">
      <div class="card"style="height:100%;">
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
              <tr *ngFor="let res of reservations">
                <td style="padding-bottom: inherit">
                  <h5 class="text-primary">{{res.service.name}}</h5>
                  <p>Организация: {{res.service.organization.name}}</p>
                  <p>Заказчик: {{res.user.name}}</p>
                  <p>Статус: {{res.status}} </p>
                  <!--<p>Дата: {{getDate(res.date)}}</p>-->
                  <p>Цена: {{res.service.price}} р.</p>
                  <p>Дата: {{res.dateTime}}</p>
                  <div *ngIf="res.status == 'ASSEPTED' && (res.rating > 0 || res.comment != null)">
                    <span>Оценка: </span><app-rating  currentRate={{res.rating}} readFlag="true"></app-rating><br>
                    <span>Отзыв: {{res.comment}}</span>
                  </div>
                </td>
				        <td style="padding-bottom: inherit" class="td-actions text-right" *ngIf="res.status == 'INPROCESS'">
                  <button type="button" rel="tooltip" title="Одобрить" (click)="assept(res.id)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                    <i class="now-ui-icons ui-1_check"></i>
                  </button>
                  <button type="button" rel="tooltip" title="Отказать" (click)="deny(res.id)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="row">
              <button type="button" rel="tooltip" title="На предыдущую" (click)="changePage(-1, 'orgPage')" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
      <i class="now-ui-icons arrows-1_minimal-left"></i>
    </button>
    <div class="form-check btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" *ngFor="let index of createRange(pagesCount)">
      <input *ngIf="index - 1 == selectedPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'orgPage')" style="border-color:#fd7e14">
      <input *ngIf="index - 1 != selectedPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'orgPage')">
    </div>
    <button type="button" rel="tooltip" title="На следующую" (click)="changePage(1, 'orgPage')" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
      <i class="now-ui-icons arrows-1_minimal-right"></i>
    </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
