<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">О нас </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <td>
                  <a href="https://vk.com/green_devil95" target="_blank">Бондарев Денис</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://vk.com/deeen_damn" target="_blank">Кравченко Денис</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://vk.com/alexandr_muratov" target="_blank">Муратов Александр</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
