<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-3 pr-1" style="padding-bottom: 50px;" *ngFor="let org of primaryList">
      <div class="card" style="border: solid gold 4px; height: 100%;">
        <div class="card-user" style=" background: white;">
          <div class="image">
            <img src="../assets/img/123.jpg" alt="...">
          </div>
          <div class="card-body" style="height: 300px;" >
            <div class="author">
              <div class="btn btn-neutral">
                <a (click)="navigate( org.id )">
                  <img class="avatar " src="../assets/img/avatar1.png" alt="..." style="border: solid gold 3px;">
                  <div>
                    <h5 class="title text-center text-danger">{{org.name}}</h5>
                  </div>
                </a>
              </div>
              <p class="text-left">
                Адрес: {{org.address}}
              </p>
            </div>
            <app-rating currentRate = {{org.rating}} readFlag="true"></app-rating>
            <p class="text-left">
              {{org.description}}
            </p>
          </div>
          <hr>
        </div>
      </div>
      </div>
      <div class="col-md-3" style="padding-bottom: 50px;">
        <div class="list-group">
          <div class="list-group-item">
            <h3>Сортировать:</h3>
            <div class="checkbox">
              <div class="checkbox-radios">
                <input type="radio" id="ratingCategory" (click)="sort('rating')" name="category">
                <label for="ratingCategory">по рейтингу</label>
              </div>
              <div class="checkbox-radios">
                <input type="radio" id="nameCategory" (click)="sort('name')" name="category">
                <label for="ratingCategory">по алфавиту</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="row" *ngIf="userId != 0">
    <div class="col-md-3 pr-1" style="padding-bottom: 50px;" *ngFor="let org of list">
      <div class="card" style="height: 100%;">
        <div class="card-user" style=" background: white;">
          <div class="image">
            <img src="../assets/img/123.jpg" alt="...">
          </div>
          <div class="card-body" style="height: 300px;" >
            <div class="author">
              <div class="btn btn-neutral">
                <a (click)="navigate(org.organization.id)">
                  <img class="avatar " src="../assets/img/avatar1.png" alt="...">
                  <div>
                    <h5 class="title text-center text-danger">{{org.name}}</h5>
                  </div>
                </a>
              </div>
              <p class="text-left">Организация: {{org.organization.name}}</p>
            </div>
            <app-rating currentRate = {{org.rating}} readFlag="true"></app-rating>
            <p>Цена: {{org.price}} р.</p>
            <p>Продолжительность: {{org.time}} минут</p>
            <p class="text-left">
              {{org.description}}
            </p>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="userId == 0">
    <div class="col-md-3 pr-1" style="padding-bottom: 50px;" *ngFor="let org of list">
      <div class="card" style="height: 100%;">
        <div class="card-user" style=" background: white;">
          <div class="image">
            <img src="../assets/img/123.jpg" alt="...">
          </div>
          <div class="card-body" style="height: 300px;" >
            <div class="author">
              <div class="btn btn-neutral">
                <a (click)="navigate( org.id )">
                  <img class="avatar " src="../assets/img/avatar1.png" alt="..." style="border: solid gold 3px;">
                  <div>
                    <h5 class="title text-center text-danger">{{org.name}}</h5>
                  </div>
                </a>
              </div>
              <p class="text-left">
                Адрес: {{org.address}}
              </p>
            </div>
            <app-rating currentRate = {{org.rating}} readFlag="true"></app-rating>
            <p class="text-left">
              {{org.description}}
            </p>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" rel="tooltip" title="На предыдущую" (click)="changePage(-1, 'orgPage')" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
      <i class="now-ui-icons arrows-1_minimal-left"></i>
    </button>
    <div class="form-check btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" *ngFor="let index of createRange(pagesCount)">
      <input *ngIf="index - 1 == selectedPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'orgPage')" style="border-color:#fd7e14">
      <input *ngIf="index - 1 != selectedPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'orgPage')">
    </div>
    <button type="button" rel="tooltip" title="На следующую" (click)="changePage(1, 'orgPage')" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
      <i class="now-ui-icons arrows-1_minimal-right"></i>
    </button>
  </div>
</div>
