<div class="panel-header panel-header-sm">
</div>
<div class="main-content" >
  <div class="row">
  <div class="col-md-3" *ngFor="let org of list">
    <div class="card card-user">
      <div class="image">
        <img src="../assets/img/bg5.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a (click)="navigate( org.id )">
            <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
            <div>
            <h5 class="title text-center text-danger">{{org.name}}</h5>
            </div>
          </a>
          <p class="text-left">
            Адрес: {{org.address}}
          </p>
        </div>
        <div><p>Рейтинг: {{org.rating}}</p></div>
        <p class="text-left">
          {{org.description}}
        </p>
      </div>
      <hr>
    </div>
  </div>
  </div>
 <!-- <div class="row">
    <div class="col-md-3"  *ngFor="let org of list">
      <div class="card">
        <div class="image"><img src="./assets/img/bg5.jpg"></div>
        <div class="card-body">
                <div class="author"><img src="/assets/img/mike.jpg" class="avatar" ></div>
                  <div (click)="navigate( org.id )">{{org.name}}</div><br>
                  <div>Рейтинг: {{org.rating}}</div><br>
                  <div>Адрес: {{org.address}}</div><br>
                  <div>Описание: {{org.description}}</div><br>
        </div>
      </div>
    </div>
  </div>-->
  <div class="row">
    <button type="button" rel="tooltip" title="На предыдущую" (click)="changePage(-1, 'orgPage')" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
      <i class="now-ui-icons arrows-1_minimal-left"></i>
    </button>
    <div class="form-check btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" *ngFor="let index of createRange(pagesCount)">
      <input class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'orgPage')">
    </div>
    <button type="button" rel="tooltip" title="На следующую" (click)="changePage(1, 'orgPage')" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
      <i class="now-ui-icons arrows-1_minimal-right"></i>
    </button>
  </div>
</div>

