<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Организации </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <tbody *ngFor="let org of list">
              <tr>
                <td>
                  <div (click)="navigate( org.id )">Название: {{org.name}}</div><br>
                  <div>Рейтинг: {{org.rating}}</div><br>
                  <div>Адрес: {{org.address}}</div><br>
                  <div>Описание: {{org.description}}</div><br>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" rel="tooltip" title="На предыдущую" (click)="changePage(-1)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
        <i class="now-ui-icons arrows-1_minimal-left"></i>
      </button>
      <button type="button" rel="tooltip" title="На следующую" (click)="changePage(1)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
        <i class="now-ui-icons arrows-1_minimal-right"></i>
      </button>
    </div>
  </div>
</div>

