
<div class="card-body "><div class="table-full-width table-responsive">
<table class="table">
  <tbody>
  <tr *ngFor="let serv of list" class="organization-body" border="4" color ="black">
    <td class="text-left" style="padding-bottom: inherit;">
      <div class="btn btn-neutral" style="padding: 0; font-size: 16px" (click)="navigate( serv.id )">{{serv.name}}
      </div>
      <br>
      <app-rating  currentRate={{serv.rating}} readFlag="true"></app-rating>
      <br>
      <p>Категория услуги: {{serv.category}}</p>
      <p>Продолжительность услуги: {{serv.time}} минут</p>
      <div>Цена: {{serv.price}} p.
      </div>
      <br>
      <div>Описание: {{serv.description}}</div>
	  <div *ngIf="reportFlag == true"><br>
	  <p style="color:red;">Введите жалобу:</p>
	  <textarea style="font-size: 11pt;" rows="4" cols="60" class="form-control" name="text" id="serv.id" [ngModel]="text" placeholder="Моя жалоба..." (input)="comment = $event.target.value"></textarea>
	  </div>
    </td>
    <td class="td-actions text-right" *ngIf="userId == organization.user.id">
      <button mat-button class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove" rel="tooltip" (click)="delete(serv.id)" title="" type="button">
        <i class="nc-icon nc-simple-remove"></i>
      </button>
    </td>
    <td class="td-actions text-right" *ngIf="userId != organization.user.id">
      <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6 btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
        <div class="font-icon-detail" (click)="createReservation(serv.id)">
          <i class="now-ui-icons ui-1_calendar-60 text-primary" (click)="navigate1(serv.id)"></i>
        </div>
      </div>
	  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6 btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
        <div class="font-icon-detail" (click)="report(text)">
			<i class="now-ui-icons ui-1_send text-primary"></i>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</div>
  <div>
    <button type="button" rel="tooltip" title="На предыдущую" (click)="changePage(-1)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
      <i class="now-ui-icons arrows-1_minimal-left"></i>
    </button>
    <div class="form-check btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" *ngFor="let index of createRange(pagesCount)">
      <input *ngIf="index - 1 == selectedPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'servPage')" style="border-color:#fd7e14">
      <input *ngIf="index - 1 != selectedPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'servPage')">
    </div>
    <button type="button" rel="tooltip" title="На следующую" (click)="changePage(1)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
      <i class="now-ui-icons arrows-1_minimal-right"></i>
    </button>
  </div>
</div>

