.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: gold;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
}

.calendar-icon-head{
  display: flex;
  align-items: center;
}


.cal{
  font-size: 20px;
}
