<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8" style="padding-bottom:20px;">
      <div class="card"style="height:100%;">
        <div class="card-header">
          <h5 class="title">Моя страница</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>ФИО </label>
                  <input type="text" class="form-control" placeholder="Иванов Иван Иванович" name="name1" [(ngModel)]="name1" value="{{user.name}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">Email </label>
                  <input name="email" id="email" type="email" class="form-control" placeholder="name@mail.ru" [(ngModel)]="email1" value="{{user.email}}">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Номер телефона</label>
                  <input type="text" class="form-control" placeholder="88005553535" name="phone" [(ngModel)]="phone" value="{{user.phone}}">
                </div>
              </div>
            </div>
            <div class="row" *ngIf="changedPass == true">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="oldPass">Старый пароль </label>
                  <input name="oldPass" id="oldPass" type="password" class="form-control" placeholder="password1" [(ngModel)]="oldPass">
                </div>
              </div>
              <div class="col-md-6 pl-1" *ngIf="oldPass != getPass() && oldPass != null" style="text-align: end;">
                <div class="form-group">
                  <br>
                  <font size="3" color="red">Введён неверный пароль</font>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="oldPass == getPass()">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="newPass">Новый пароль </label>
                  <input name="newPass" id="newPass" type="password" class="form-control" placeholder="password1" [(ngModel)]="newPass">
                </div>
              </div>
              <div class="col-md-6 pl-1" style="text-align: end;" *ngIf="newPass != newPass1 && newPass!= null">
                <div class="form-group">
                  <br>
                  <font size="3" color="red">Новые пароли не совпадают</font>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="oldPass == getPass()">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="newPass1">Повторите новый пароль </label>
                  <input name="newPass1" id="newPass1" type="password" class="form-control" placeholder="password1" [(ngModel)]="newPass1">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pl-1" style="text-align: left">
                <button class="btn btn-neutral btn-lg" (click)="changeProfile(name1, email1, phone)">Изменить данные</button>
              </div>
              <div class="col-md-6 pl-1" style="text-align: end" *ngIf="changedPass == false || (newPass == newPass1 && newPass != null)">
                <button class="btn btn-neutral btn-lg" (click)="changePassword(newPass)">Изменить пароль</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/header.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
              <h5 class="title">{{user.email}}</h5>
            </a>
            <p class="description">
              Телефон: {{user.phone}}
            </p>
              <h5 class="title text-primary">{{user.email}}</h5>
          </div>
          <div style="text-align: center;">
            <span class="btn btn-primary">Приобрести VIP подписку</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="padding-bottom:20px;">
      <div class="card" style="height:100%;">
        <div class="card-header">
          <h5 class="card-title">Мои организации</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive no-scroll">
            <table class="table">
              <tr *ngFor="let org of organizations">
                <td>
                  <div class="btn btn-neutral" style="font-size: medium;    padding: 0;"(click)="navigate( org.id )">{{org.name}}</div><br>
                  <app-rating currentRate = {{org.rating}} readFlag="true"></app-rating><br>
                  <div>Адрес: {{org.address}}</div><br>
                  <div>Описание: {{org.description}}</div><br>
                </td>
              </tr>
            </table>
            <div class="row">
              <button type="button" rel="tooltip" title="На предыдущую" (click)="changePage(-1, 'orgPage')" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                <i class="now-ui-icons arrows-1_minimal-left"></i>
              </button>
              <div class="form-check btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" *ngFor="let index of createRange(orgPagesCount)">
                <input *ngIf="index - 1 == selectedOrgPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'orgPage')" style="border-color:#fd7e14">
                <input *ngIf="index - 1 != selectedOrgPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'orgPage')">
              </div>
              <button type="button" rel="tooltip" title="На следующую" (click)="changePage(1, 'orgPage')" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                <i class="now-ui-icons arrows-1_minimal-right"></i>
              </button>
            </div>
            <button class="btn btn-neutral btn-lg" (click)="navigate('-1')">Добавить организацию</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="card-header calendar-icon-head">
          <div class="col-md-11">
          <h4 class="card-title">Мои записи</h4>
          </div>
          <div class="col btn btn-neutral" style="padding: 0;">
          <i class="now-ui-icons ui-1_calendar-60 text-primary cal" (click)="navigate1()"></i>
        </div>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
              <tr *ngFor="let res of reservations">
                <td *ngIf="res.rating == 0 && (res.comment == '' || res.comment == null)">
                  <span style="font-size: 16px;"class="text-primary "> {{res.service.organization.name}}</span><br>
                  <label>Услуга: {{res.service.name}}</label><br>
                  <ng-template #star let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                      <span class="half" [style.width.%]="fill">&#9733;</span>
                      &#9733;
                    </span>
                  </ng-template>

                  <label>Оценка: </label><ngb-rating [(rate)]="rating" [starTemplate]="star" [readonly]="false" max="5"></ngb-rating><br>
                  <label>Цена: {{res.service.price}} р.</label><br>

                    <!---<div class="form-check">
                      <input  class="form-control" name="{{res.id}}" type="text"  [(ngModel)]="rating" placeholder="5.0">
                    </div>--->
                  <label>Отзыв:</label>
                  <textarea rows="4" cols="60" class="form-control" name="comment" id="res.id" [(ngModel)]="comment" placeholder="Мой отзыв..."></textarea>
                </td>
                <td class="td-actions text-right" *ngIf="res.rating == 0 && (res.comment == '' || res.comment == null)">
                  <button type="button" rel="tooltip" title="Изменить" (click)="updateRez(res.id, res.service.id, comment, rating)" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                    <i class="now-ui-icons ui-1_check"></i>
                  </button>
                </td>
                <td *ngIf="res.rating != 0 && res.comment != ''">

                    <!--<div class="form-check">
                      <input class="form-control" type="text" value="{{res.rating}}">
                    </div>-->

                  <label style="font-size: 16px;"class="text-primary ">{{res.service.organization.name}}</label><br>
                  <label>Услуга: {{res.service.name}}</label><br>
                  <label>Оценка: </label><app-rating  currentRate={{res.rating}} readFlag="true"></app-rating><br>
                  <label>Цена: {{res.service.price}} р.</label><br>
                  <label>Отзыв</label>
                  <textarea rows="4" cols="60" class="form-control">{{res.comment}}</textarea>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="row">
              <button type="button" rel="tooltip" title="На предыдущую" (click)="changePage(-1, 'resPage')" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                <i class="now-ui-icons arrows-1_minimal-left"></i>
              </button>
              <div class="form-check btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" *ngFor="let index of createRange(resPagesCount)">
                <input *ngIf="index - 1 == selectedResPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'resPage')" style="border-color:#fd7e14">
                <input *ngIf="index - 1 != selectedResPage" class="form-control" type="button" value="{{index}}" (click)="goToPage(index, 'resPage')">
              </div>
              <button type="button" rel="tooltip" title="На следующую" (click)="changePage(1, 'resPage')" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                <i class="now-ui-icons arrows-1_minimal-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

