<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row" *ngIf="organization.user.id != userId">
      <div class=" col-md-8 card">
        <div class="card-header">
          <h5 class="title">Организация</h5>
        </div>
        <form>
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <label>Название </label>
                  <input type="text" class="form-control" style="background-color: #ffffff; color: #212529;" placeholder="Username" value="{{organization.name}}" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Рейтинг </label>
                  <input class="form-control" style="background-color: #ffffff; color: #212529;" disabled type="text" value="{{organization.rating}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="address">Адрес </label>
                  <input name="address" id="address" type="text" class="form-control" style="background-color: #ffffff; color: #212529;" disabled value="{{organization.address}}">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Номер телефона</label>
                  <input type="text" class="form-control" style="background-color: #ffffff; color: #212529;" disabled value="{{organization.phoneNumber}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <label>Описание</label>
                  <textarea rows="4" cols="80" class="form-control" style="background-color: #ffffff; color: #212529;" disabled>{{organization.description}}</textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    <div class="col-md-4"  >
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/123.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a class="text-primary">
              <img class="avatar border-gray" src="../assets/img/avatar1.png" alt="...">
              <h5 class="title">{{organization.user.email}}</h5>
            </a>
            <p class="description">
              Телефон: {{organization.user.phone}}
            </p>
          </div>
          <p class="description text-center">
            {{organization.description}}
          </p>
		  <div style="text-align: center;" *ngIf="organization.user.roles[0] == ADMIN && organization.user.states == ACTIVE"> <!--Тут мб роль по-другому будет называться-->
            <span class="btn btn-primary" (click)="ban()">Заморозить страницу</span>
          </div>
		  <div style="text-align: center;" *ngIf="organization.user.roles[0] == ADMIN && organization.user.states != ACTIVE"> <!--Тут мб роль по-другому будет называться-->
            <span class="btn btn-primary" (click)="ban()">Разморозить страницу</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="organization.user.id == userId">
    <div class=" col-md-8 card">
      <div class="card-header row">
        <div class="col-md-11">
        <h5 class="title">Организация</h5>
        </div>
        <div class="col btn btn-neutral" style="padding: 0;">
          <i class="now-ui-icons ui-1_calendar-60 text-primary cal" (click)="navigate(organization.id)"></i>
        </div>
      </div>
      <form><div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
              <label>Название </label>
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="name1" name="name1" value="{{organization.name}}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Рейтинг </label>
              <input class="form-control" style="background-color: #ffffff; color: #212529;" disabled type="text" value="{{organization.rating}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label for="address1">Адрес </label>
              <input id="address1" type="text" class="form-control" [(ngModel)]="address1" name="address1" value="{{organization.address}}">
            </div>
          </div>
          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label>Номер телефона</label>
              <input type="text" class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber" value="{{organization.phoneNumber}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <label>Описание</label>
              <textarea rows="4" cols="80" class="form-control" [(ngModel)]="description">{{organization.description}}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pl-1" style="text-align: center">
            <button class="btn btn-neutral btn-lg" (click)="changeOrg(name1, address1, phoneNumber, description)">Изменить данные</button>
          </div>
        </div>
      </div>
      </form>
    </div>
    <div class="col-md-4"  style="height: 411px">
      <div class="card card-user" style="height: 100%">
        <div class="image">
          <img src="../assets/img/123.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a class="text-primary">
              <img class="avatar border-gray" src="../assets/img/avatar1.png" alt="...">
              <h5 class="title">{{organization.user.email}}</h5>
            </a>
            <p class="description">
              Телефон: {{organization.user.phone}}
            </p>
          </div>
          <p class="description text-center">
            {{organization.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="padding-left: 0;">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Услуга</h4>
        </div>
        <app-service-list></app-service-list>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="organization.user.id == userId">
    <div class="col-md-10">
      <div class="button-container">
        <button (click)="addService()" class="btn btn-neutral btn-lg">
          Добавить услугу
        </button>
      </div>
    </div>
  </div>
</div>
