<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row" *ngIf="organization.user.id != userId">
      <div class=" col-md-8 card">
        <div class="card-header">
          <h5 class="title">Организация</h5>
        </div>
        <form>
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group">
                  <label>Название </label>
                  <input type="text" class="form-control" style="background-color: #ffffff; color: #212529;" placeholder="Username" value="{{organization.name}}" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Рейтинг </label>
                  <input class="form-control" style="background-color: #ffffff; color: #212529;" disabled type="text" value="{{organization.rating}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="address">Адрес </label>
                  <input name="address" id="address" type="text" class="form-control" style="background-color: #ffffff; color: #212529;" disabled value="{{organization.address}}">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Номер телефона</label>
                  <input type="text" class="form-control" style="background-color: #ffffff; color: #212529;" disabled value="{{organization.phoneNumber}}">
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="startTime">Введите работы</label>
                  <div style="display:flex">
                    <input  disabled #stime1="ngModel" [(ngModel)]="startTime" class="form-control" style="width: 50%;background-color: #ffffff; color: #212529;" value="{{org.startTime}}" >
                    <div style="align-self: center;">&nbsp;&mdash;&nbsp;</div>
                    <input  disabled  #ftime1="ngModel" [(ngModel)]="endTime" class="form-control" style="width: 50%;background-color: #ffffff; color: #212529;" value="{{org.finishTime}}" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
                  </div>
                </div>
              </div>
            </div>
            <label>Рабочие дни</label>
            <div class="row" style="justify-content: center;">
              <div class="form-check">
                <label class="form-check-label">
                  <input *ngIf="!week.includes('1')" class="form-check-input" type="checkbox" value="mon" name="monday" disabled checked #monday >
                  <input *ngIf="week.includes('1')" class="form-check-input" type="checkbox" value="monday" disabled  #monday >
                  Понедельник
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input *ngIf="!week.includes('2')" class="form-check-input" type="checkbox" value="tuesday" disabled checked #tuesday>
                  <input *ngIf="week.includes('2')"  class="form-check-input" type="checkbox" value="tuesday" disabled #tuesday1>
                  Вторник
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input *ngIf="!week.includes('3')" class="form-check-input" type="checkbox" value="2" disabled checked #wednesday>
                  <input *ngIf="week.includes('3')"  class="form-check-input" type="checkbox" value="2"  disabled #wednesday1>
                  Среда
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input *ngIf="!week.includes('4')" class="form-check-input" type="checkbox" value="thursday" disabled checked #thursday>
                  <input *ngIf="week.includes('4')" class="form-check-input" type="checkbox" value="thursday" disabled  #thursday1>
                  Четверг
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input *ngIf="!week.includes('5')" class="form-check-input" type="checkbox" value="friday" disabled checked #friday>
                  <input *ngIf="week.includes('5')" class="form-check-input" type="checkbox" value="friday" disabled  #friday1>
                  Пятница
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input *ngIf="!week.includes('6')" class="form-check-input" type="checkbox" value="saturday" disabled checked #saturday>
                  <input *ngIf="week.includes('6')" class="form-check-input" type="checkbox" value="saturday" disabled #saturday1>
                  Суббота
                  <span class="form-check-sign"></span>
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input *ngIf="!week.includes('0')" class="form-check-input" type="checkbox" value="sunday" disabled checked #sunday>
                  <input  *ngIf="week.includes('0')" class="form-check-input" type="checkbox" value="sunday" disabled #sunday1>
                  Воскресенье
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <label>Описание</label>
                  <textarea rows="4" cols="80" class="form-control" style="background-color: #ffffff; color: #212529;" disabled>{{organization.description}}</textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    <div class="col-md-4" style="margin-bottom: 20px;" >
      <div class="card card-user" style="height: 100%;">
        <div class="image">
          <img src="../assets/img/123.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a class="text-primary">
              <img class="avatar border-gray" src="../assets/img/avatar1.png" alt="...">
              <h5 class="title">{{organization.user.email}}</h5>
            </a>
            <p class="description">
              Телефон: {{organization.user.phone}}
            </p>
          </div>
          <p class="description text-center">
            {{organization.description}}
          </p>
		  <div style="text-align: center;" *ngIf="isAdmin() && organization.user.states == 'ACTIVE'"> <!--Тут мб роль по-другому будет называться-->
            <span class="btn btn-primary" (click)="ban(organization.user.id)">Заморозить страницу</span>
          </div>
		  <div style="text-align: center;" *ngIf="isAdmin() && organization.user.states == 'BANNED'"> <!--Тут мб роль по-другому будет называться-->
            <span class="btn btn-primary" (click)="razban(organization.user.id)">Разморозить страницу</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="organization.user.id == userId">
    <div class=" col-md-8 card">
      <div class="card-header row">
        <div class="col-md-11">
        <h5 class="title">Организация</h5>
        </div>
        <div class="col btn btn-neutral" style="padding: 0;">
          <i class="now-ui-icons ui-1_calendar-60 text-primary cal" (click)="navigate(organization.id)"></i>
        </div>
      </div>
      <form><div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
              <span>Название </span>
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="name1" name="name1" value="{{organization.name}}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <span>Рейтинг </span>
              <input class="form-control" style="background-color: #ffffff; color: #212529;" disabled type="text" value="{{organization.rating}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <span for="address1">Адрес </span>
              <input id="address1" type="text" class="form-control" [(ngModel)]="address1" name="address1" value="{{organization.address}}">
            </div>
          </div>
          <div class="col-md-6 pl-1">
            <div class="form-group">
              <span>Номер телефона</span>
              <input type="text" class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber" value="{{organization.phoneNumber}}">
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-12">
            <div class="form-group">
              <span for="startTime">Введите работы</span>
              <div style="display:flex">
                <input name="startTime" id="startTime" type="text" #stime="ngModel" [(ngModel)]="startTime" class="form-control" style="width: 50%;" value="{{org.startTime}}" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
                <div style="align-self: center;">&nbsp;&mdash;&nbsp;</div>
                <input name="endTime" id="endTime" type="text" #ftime="ngModel" [(ngModel)]="endTime" class="form-control" style="width: 50%;" value="{{org.finishTime}}" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
              </div>
              <div class="row justify-content-center align-items-center" [hidden]="(stime.valid || stime.pristine) && (ftime.valid || ftime.pristine)">
                <div class="col-md-10">
                  <font size="3" color="red">Неверный формат времени!</font>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span>Рабочие дни</span>
          <div class="row" style="justify-content: center;">
            <div class="form-check">
              <label class="form-check-label">
                <input *ngIf="!week.includes('1')" class="form-check-input" type="checkbox" value="mon" name="monday" checked #monday >
                <input *ngIf="week.includes('1')" class="form-check-input" type="checkbox" value="monday"  #monday >
                Понедельник
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input *ngIf="!week.includes('2')" class="form-check-input" type="checkbox" value="tuesday" checked #tuesday>
                <input *ngIf="week.includes('2')"  class="form-check-input" type="checkbox" value="tuesday"  #tuesday1>
                Вторник
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input *ngIf="!week.includes('3')" class="form-check-input" type="checkbox" value="2" checked #wednesday>
                <input *ngIf="week.includes('3')"  class="form-check-input" type="checkbox" value="2"  #wednesday1>
                Среда
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input *ngIf="!week.includes('4')" class="form-check-input" type="checkbox" value="thursday" checked #thursday>
                <input *ngIf="week.includes('4')" class="form-check-input" type="checkbox" value="thursday"  #thursday1>
                Четверг
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input *ngIf="!week.includes('5')" class="form-check-input" type="checkbox" value="friday" checked #friday>
                <input *ngIf="week.includes('5')" class="form-check-input" type="checkbox" value="friday"  #friday1>
                Пятница
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input *ngIf="!week.includes('6')" class="form-check-input" type="checkbox" value="saturday" checked #saturday>
                <input *ngIf="week.includes('6')" class="form-check-input" type="checkbox" value="saturday"  #saturday1>
                Суббота
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input *ngIf="!week.includes('0')" class="form-check-input" type="checkbox" value="sunday" checked #sunday>
                <input  *ngIf="week.includes('0')" class="form-check-input" type="checkbox" value="sunday" #sunday1>
                Воскресенье
                <span class="form-check-sign"></span>
              </label>
        </div>
          </div>
        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <label>Описание</label>
              <textarea rows="4" cols="80" class="form-control" [(ngModel)]="description">{{organization.description}}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pl-1" style="text-align: center">
            <button class="btn btn-neutral btn-lg" (click)="changeOrg(name1, address1, phoneNumber, description)">Изменить данные</button>
          </div>
        </div>
      </div>
      </form>
    </div>
    <div class="col-md-4"  style="margin-bottom: 20px;">
      <div class="card card-user" style="height: 100%">
        <div class="image">
          <img src="../assets/img/123.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a class="text-primary">
              <img class="avatar border-gray" src="../assets/img/avatar1.png" alt="...">
              <h5 class="title">{{organization.user.email}}</h5>
            </a>
            <p class="description">
              Телефон: {{organization.user.phone}}
            </p>
          </div>
          <p class="description text-center">
            {{organization.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="padding-left: 0;">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Услуга</h4>
        </div>
        <app-service-list></app-service-list>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="organization.user.id == userId">
    <div class="col-md-10">
      <div class="button-container">
        <button (click)="addService()" class="btn btn-neutral btn-lg">
          Добавить услугу
        </button>
      </div>
    </div>
  </div>
</div>
